.heroes-menu a {
    display: inline-block;
    margin: 0.5em;
    padding: 0.5em 1em;
    background-color: #EEE;
    border-radius: 4px;
    text-decoration: none;
    color: inherit;
    transition: background-color 0.3s, color 0.3s;
}

.heroes-menu a:hover {
    background-color: #e6e6e6;
    color: #2c3a41;
}

.heroes-menu a:active {
    background-color: #525252;
    color: #fafafa;
}

.heroes-menu a.selected {
    background-color: black;
    color: white;
}

.heroes-menu a.selected:hover {
    background-color: #505050;
    color: white;
}

.heroes-menu a.selected:active {
    background-color: black;
    color: white;
}